<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="S054030010">

    <select id="GetMasterListVO" parameterType="java.util.Map" resultType="CamelHashMap">
        SELECT	s020.slave_id,
        s020.seq,
        s020.alarm_max_value,
        s020.alarm_min_value,
        s020.alarm_tm,
        s020.slave_detail_nm,
        f010.fft_event_tm,
        f010.elec_sum,
        f010.elec_leak_sum,
        f010.sensor_sum,
        f010.VALUE_1,
        f010.VALUE_2,
        f010.VALUE_3,
        f010.VALUE_4,
        f010.VALUE_5,
        f010.VALUE_6,
        f010.VALUE_7,
        f010.VALUE_8,
        f010.VALUE_9,
        f010.VALUE_10,
        f010.VALUE_11,
        f010.VALUE_12,
        f010.VALUE_13,
        f010.VALUE_14,
        f010.VALUE_15,
        f010.VALUE_16,
        f010.VALUE_17,
        f010.VALUE_18,
        f010.VALUE_19,
        f010.VALUE_20,
        f010.VALUE_21,
        f010.VALUE_22,
        f010.VALUE_23,
        f010.VALUE_24,
        f010.VALUE_25,
        f010.VALUE_26,
        f010.VALUE_27,
        f010.VALUE_28,
        f010.VALUE_29,
        f010.VALUE_30,
        f010.VALUE_31,
        f010.VALUE_32,
        f010.VALUE_33,
        f010.VALUE_34,
        f010.VALUE_35,
        f010.VALUE_36,
        f010.VALUE_37,
        f010.VALUE_38,
        f010.VALUE_39,
        f010.VALUE_40,
        f010.VALUE_41,
        f010.VALUE_42,
        f010.VALUE_43,
        f010.VALUE_44,
        f010.VALUE_45,
        f010.VALUE_46,
        f010.VALUE_47,
        f010.VALUE_48,
        f010.VALUE_49,
        f010.VALUE_50,
        f010.VALUE_51,
        f010.VALUE_52,
        f010.VALUE_53,
        f010.VALUE_54,
        f010.VALUE_55,
        f010.VALUE_56,
        f010.VALUE_57,
        f010.VALUE_58,
        f010.VALUE_59,
        f010.VALUE_60,
        f010.VALUE_61,
        f010.VALUE_62,
        f010.VALUE_63,
        f010.VALUE_64,
        f010.VALUE_65,
        f010.VALUE_66,
        f010.VALUE_67,
        f010.VALUE_68,
        f010.VALUE_69,
        f010.VALUE_70,
        f010.VALUE_71,
        f010.VALUE_72,
        f010.VALUE_73,
        f010.VALUE_74,
        f010.VALUE_75,
        f010.VALUE_76,
        f010.VALUE_77,
        f010.VALUE_78,
        f010.VALUE_79,
        f010.VALUE_80,
        f010.VALUE_81,
        f010.VALUE_82,
        f010.VALUE_83,
        f010.VALUE_84,
        f010.VALUE_85,
        f010.VALUE_86,
        f010.VALUE_87,
        f010.VALUE_88,
        f010.VALUE_89,
        f010.VALUE_90,
        f010.VALUE_91,
        f010.VALUE_92,
        f010.VALUE_93,
        f010.VALUE_94,
        f010.VALUE_95,
        f010.VALUE_96,
        f010.VALUE_97,
        f010.VALUE_98,
        f010.VALUE_99,
        f010.VALUE_100
        FROM 	tb_s050.tb_s050_fft010 f010
        inner join tb_s050.tb_s050_slave020  s020
        on s020.slave_id = f010.slave_id
        and	s020.seq = f010.seq
        inner join tb_s050.tb_s050_slave010  s010
        on s020.slave_id = s020.slave_id
        and s010.app_tp = #{appTp}
        order by fft_event_tm desc limit 1;;
    </select>



</mapper>