<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="S052030220">
    <select id="GetRegFixDetailVO" parameterType="java.util.Map" resultType="CamelHashMap">
        <!-- Machine 점검이력 상세 조회 -->
        select	m010.master_nm,				-- 설비그룹
                s010.slave_nm,				-- 설비Item
                s020.slave_detail_nm,		-- Machine 명
                fix010.install_date,		-- 설치일자
                fix010.slave_op_tm,			-- 가동시간
                fix010.slave_base_day,		-- 적용일자
                fix010.slave_base_tm,		-- 시간(Hr)
                date_add(fix010.install_date, interval (fix010.slave_op_tm/fix010.slave_base_tm) day) fix_plan_dt,	-- 점검예정일
                fix010.slave_op_real_tm,	-- 실가동시간
                fix010.fixed_date,			-- 점검일자
                fix010.comments				-- 비고
        from	tb_s050.tb_s050_master010 m010
        inner join tb_s050.tb_s050_master020 m020
        on m010.master_id = m020.master_id
        inner join tb_s050.tb_s050_slave010 s010
        on	m020.slave_id = s010.slave_id
        inner join tb_s050.tb_s050_slave020 s020
        on	s010.slave_id = s020.slave_id
        inner join tb_s050.tb_s050_fix010 fix010
        on s020.slave_id = fix010.slave_id
        and s020.seq = fix010.seq
        where	s010.org_id = #{orgId}
        and		s010.app_tp = '02'
        and		s010.slave_id  = #{slaveId}		-- 하드코딩 slave_id : 14001, 14004, 16003
        and		s020.seq  = #{seq}
    </select>

</mapper>