<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="S051010050">
    <select id="selectGetMasterList" parameterType="java.util.Map" resultType="CamelHashMap">
        with master_info as (
            SELECT distinct	m010.master_id,						-- hiddend으로 사용할 master_id
                    m010.master_nm,						-- 마스터명
                    m010.master_ip,						-- 마스터 IP
                    m010.MASTER_PORT_NO ,				-- Port번호
                    m010.SW_CNT,						-- 스위치갯수
                    case when u020.master_id is null then 'N'
                    else	'Y'
                    end	use_flag						-- 사용여부
            FROM 	tb_s050.tb_s050_master010	m010
                    left outer join	tb_s050.tb_s050_user020	u020
                    on	m010.master_id	= u020.master_id
                    and	m010.org_id = u020.org_id
            where	m010.org_id = 1
            and		m010.app_tp = '01')				-- Pull Cord S/W 조회
        select 	m010.master_id,						-- hiddend으로 사용할 master_id
                m010.master_nm,						-- 마스터명
                m010.master_ip,						-- 마스터 IP
                m010.MASTER_PORT_NO ,				-- Port번호
                m010.SW_CNT,						-- 스위치갯수
                use_flag							-- 사용여부
        from	master_info m010
        where	m010.master_nm like concat('%', #{masterNm}, '%')
        and		m010.use_flag = ifnull(#{useFlag}, m010.use_flag)
    </select>

    <delete id="deleteMaster" parameterType="java.util.Map">
        DELETE FROM tb_s050.tb_s050_master010
        WHERE master_id IN
        <foreach collection="masterIds" item="masterId" open="(" separator="," close=")">
            #{masterId}
        </foreach>
        AND		app_tp = '01'
    </delete>

    <delete id="deleteSw" parameterType="java.util.Map">
        delete from tb_s050.tb_s050_sw010
        where org_id = #{orgId}
        and master_id IN
        <foreach collection="masterIds" item="masterId" open="(" separator="," close=")">
            #{masterId}
        </foreach>
    </delete>


</mapper>
